.red{
    color: red;
}

.green{
    color: green;
}

.mat-mini-fab.mat-accent{
    background-color: #3f51b5;
}

.mat-mini-fab .mat-icon{
    padding: 0;
} 

.control-buttons{
    position: absolute;
    right: 0;
}

.add-new{    
    width: 100%;      
}

.add-new button{
    margin: 5vh 0;    
}

.right{
    float: right;
}

.blue-button-big{
    padding: 0;
}

.space{
    height: 100%; 
}