<md-card>

  <section class="filter-section">
    <md-card-subtitle>Enable filters</md-card-subtitle>
    <md-slide-toggle [color]="accent" [(ngModel)]="toggleContent" class="marginleft"></md-slide-toggle>
  </section>

  <md-card *ngIf="toggleContent === true">

    <md-radio-group [(ngModel)]="selectedState" name="selectedState" class="">
      <md-card-subtitle>Filter by state</md-card-subtitle>
      <md-radio-button *ngFor="let state of states" [value]="state" class="">
        {{state}}
      </md-radio-button>
    </md-radio-group>

    <md-input-container class="filters">
      <input mdInput placeholder="filter by hostname" name="host" [(ngModel)]="members">
    </md-input-container>

    <md-input-container class="filters">
      <input mdInput placeholder="filter by eventname" name="eventname" [(ngModel)]="eventname">
    </md-input-container>

  </md-card>

</md-card>

<md-card *ngFor="let event of events | member:'host': members | eventname: 'name' : eventname | state: selectedState;">

  <md-card-header>

    <div>
      <md-card-title>{{event.name}}</md-card-title>
      
      <md-card-subtitle [ngSwitch]="event.state">
        <div *ngSwitchCase="'OPEN'">{{event.host}} - <span class="green">Open</span></div>
        <div *ngSwitchCase="'wip'">{{event.host}} - <span class="green">Work in progress</span></div>
        <div *ngSwitchCase="'done'">{{event.host}} - <span class="red">Closed</span></div>
      </md-card-subtitle>
      <md-card-subtitle>{{event.created_at}}</md-card-subtitle>
    </div>

    <div class="control-buttons">
      <a [routerLink]="['/events', event._id]"><button md-mini-fab><md-icon class="blue-button"><i class="material-icons">remove_red_eye</i></md-icon></button></a>
      <button md-mini-fab (click)="deleteActivity(event._id)"><md-icon><i class="material-icons">delete</i></md-icon></button>
    </div>

  </md-card-header>

</md-card>

<div class="add-new">
  <button [routerLink]="['/newevent']" md-fab class="right"><md-icon class="blue-button-big"><i class="material-icons">add</i></md-icon></button>
</div>