<p>This page is to test Paypal functionality</p>

<md-card>
  <form (ngSubmit)="addEvent(myForm)" #myForm="ngForm">
    <md-input-container>
      <input mdInput placeholder="Event Name" name="eventname" value="Taxi">
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Host" name="host" value="Groupee">
    </md-input-container>
    <br>
    <a md-raised-button class="blue-button" [routerLink]="['']" class="gridbutton">Save</a>
  </form>
</md-card>
<hr>
<div> 
  <div *ngFor = "let activity of activities"> 
    <md-card> 
        <p>Host: {{activity.host}}</p> 
        <p>Activity Name: {{activity.name}}</p> 
        <p>Members: {{activity.members}}</p> 
        <p>Deadline: {{activity.deadline}}</p> 
        <p>State: {{activity.state}}</p> 
    </md-card> 
  </div> 
</div>