<md-card class="center">

  <md-card>
    <md-card-header>
      <md-card-title>About us</md-card-title>
      <md-card-subtitle class="justify">The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
      very well with mountainous terrain, the Shiba Inu was originally bred for hunting.</md-card-subtitle>
    </md-card-header> 
  </md-card>

  <md-card>
    <img md-card-image src="assets/images/arnau.jpg">
    <md-card-header>
      <md-card-title>Arnau Guadall</md-card-title>
      <md-card-subtitle><a class="blue" href="https://github.com/arnauguadall" target="_blank">https://github.com/arnauguadall</a></md-card-subtitle>
    </md-card-header>
  </md-card>

  <md-card>
    <img md-card-image src="assets/images/brad.jpg">
    <md-card-header>
      <md-card-title>Brad Le</md-card-title>
      <md-card-subtitle><a class="blue" href="https://github.com/bradford-le" target="_blank">https://github.com/bradford-le</a></md-card-subtitle>
    </md-card-header>
  </md-card>




</md-card>