<md-card class="center">

  <md-card>
    <md-card-header>
      <md-card-title>Last activity of your account</md-card-title>
    </md-card-header>


    <md-card-content>

      <ul>
        <li *ngFor="let activity of activities">
          You 
          <span *ngIf="!activity.pay">
            get paid by {{activity.reciver}} <span class="green">${{activity.amount}}</span> at {{activity.event}}
          </span>
          <span *ngIf="activity.pay">
            pay {{activity.reciver}} <span class="red">${{activity.amount}}</span> at {{activity.event}}
          </span>           
        </li>
      </ul>

    </md-card-content>

  </md-card>
  
</md-card>