<md-card class="center">
  <md-card>
    <md-card-header>
      <md-card-title>Last event of your account</md-card-title>
    </md-card-header>
      <md-card-content>
        <ul>
          <li *ngFor="let event of activities">
            You 
            <span *ngIf="!event.pay">
              get paid by {{event.reciver}} <span class="green">${{event.amount}}</span> at {{event.event}}
            </span>
            <span *ngIf="event.pay">
              pay {{event.reciver}} <span class="red">${{event.amount}}</span> at {{event.event}}
            </span>           
          </li>
        </ul>
      </md-card-content>
  </md-card>
</md-card>

<md-card>
  <p>John paid Brad 15&euro;</p>
</md-card>
<md-card>
  <p>Brad paid Miguel 1.56&euro;</p>
</md-card>

<!-- <div> 
  <div *ngFor = "let event of activities"> 
    <md-card> 
        <p>Host: {{event.host}}</p> 
        <p>Activity Name: {{event.name}}</p> 
        <p>Members: {{event.members}}</p> 
        <p>Deadline: {{event.deadline}}</p> 
        <p>State: {{event.state}}</p> 
    </md-card> 
  </div> 
</div> -->