<md-card class="center">
  <md-card>
    <md-card-header>
      <md-card-title>Last event of your account</md-card-title>
    </md-card-header>
      <md-card-content>
        <ul>
          <li *ngFor="let activity of activities">
            You 
            <span *ngIf="!activity.pay">
              get paid by {{activity.reciever}} <span class="green">${{activity.amount}}</span> at {{activity.event}}
            </span>
            <span *ngIf="activity.pay">
              pay {{activity.reciever}} <span class="red">${{activity.amount}}</span> at {{activity.event}}
            </span>           
          </li>
        </ul>
      </md-card-content>
  </md-card>
</md-card>

<md-card>
  <p>John paid Brad 15&euro;</p>
</md-card>
<md-card>
  <p>Brad paid Miguel 1.56&euro;</p>
</md-card>