<md-card class="center">

  <md-card-header class="center">
    <md-card-title>Sign up to Groupee</md-card-title>
  </md-card-header>

  <md-input-container>
    <input mdInput placeholder="Username" [(ngModel)]="newUser.username" name="username">
  </md-input-container>

  <md-input-container>
    <input mdInput placeholder="Password" [(ngModel)]="newUser.password" name="password">
  </md-input-container>

  <br><br>
  <button md-raised-button (click)="signup()"> Create my account!</button>

</md-card>