

<div class="app-content">
    <md-card>
        <h2 class="center">Share with your friends</h2>
    </md-card>
    <md-card class="center">

        <div class="clearfix">

            <div class="column content">
                <div>
                    <img src="https://cdn4.iconfinder.com/data/icons/usa-dollar-5/512/xxx042-512.png" width="150px" />
                </div>
            </div>

            <div class="column list">
                <ul>
                    <li>
                        Create new events
                        <md-icon>check</md-icon>
                    </li>
                    <li>
                        Share it with your friends
                        <md-icon>check</md-icon>
                    </li>
                    <li>
                        Split the total amount
                        <md-icon>check</md-icon>
                    </li>
                    <li>
                        Paypal Security
                        <md-icon>check</md-icon>
                    </li>
                    <li>
                        Automatic payment
                        <md-icon>check</md-icon>
                    </li>
                </ul>
            </div>


        </div>

        <br><br>

        <a md-raised-button [routerLink]="['signup']">Sign up</a>
        <a md-raised-button [routerLink]="['login']">Login</a>

    </md-card>
</div>